docs/integrations/opgroeien/jaarregistraties/FO-RE-14.xsd

<!-- edited with XMLSpy v2007 sp1 (http://www.altova.com) by Wendy Cuyt (Kind EN Gezin) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" elementFormDefault="qualified" id="XFASchemaXSD">
	<!-- 

versienummer: 1.2

-->
	<xs:element name="KindEnGezin">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Header">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="DocumentIndicator" type="xs:string" fixed="FO-RE-14">
								<xs:annotation>
									<xs:documentation>Indicator die intern bij Kind en Gezin wordt gebruikt om aan te geven van welk type formulier de gegevens afkomstig zijn. Voor deze XSD is dit FO-RE-14.</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="FormVersion" type="xs:string" nillable="true">
								<xs:annotation>
									<xs:documentation>Versie van het formulier</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="MinReaderVersion" type="xs:string" nillable="true">
								<xs:annotation>
									<xs:documentation>Minimum versie van Adobe Reader waarmee het formulier dient geopend te worden. Dit is belangrijk om te verhinderen dat bepaalde functionaliteiten niet zouden werken.</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="UsedViewer" type="xs:string">
								<xs:annotation>
									<xs:documentation>Programma waarmee het formulier werd geopend/opgebouwd. Voor softwareleveranciers is het belangrijk om een indicatie te geven met welk programma de gegevens werden geregistreerd.</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="DocumentGegevens" type="DocumentGegevensType"/>
				<xs:element name="FormulierGecontroleerd" type="KgJaNeenType">
					<xs:annotation>
						<xs:documentation>Indicator die aangeeft of de gegevens in het formulier zijn gecontroleerd op volledigheid en correctheid. Formulieren waarbij deze indicator op 'N' staat zullen niet verwerkt worden.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="PrestatiesInclusieve">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="PrestatieInclusieve" type="PrestatieInclusieveType" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Config" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="TargetURL" type="xs:string" nillable="true">
								<xs:annotation>
									<xs:documentation>Dit element bevat het email adres waarnaar het ingevuld formulier dient opgestuurd te worden. Standaard is dat ko.formulieren@kindengezin.be</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="Subject" type="xs:string" nillable="true">
								<xs:annotation>
									<xs:documentation>Bevat het onderwerp van de mail die naar kind en Gezin wordt gestuurd.</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="DocumentGegevensType">
		<xs:sequence>
			<xs:element name="NaamSubsidiegroep" type="KgNaam">
				<xs:annotation>
					<xs:documentation>Naam van de subsidiegroep zoals gekend bij Kind en Gezin</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NaamOrganisator" type="KgNaam">
				<xs:annotation>
					<xs:documentation>Naam van de organisatie die de opvanglocatie organiseert, zoals gekend bij Kind en Gezin.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SubsidiegroepId" type="KgIdRequired">
				<xs:annotation>
					<xs:documentation>Identificatienummer van de subsidiegroep zoals gekend bij Kind en Gezin.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Jaar" type="KgJaar">
				<xs:annotation>
					<xs:documentation>Jaartal waarop de gegevens van het formulier betrekking hebben. Moet minimaal 2014 zijn.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PrestatieInclusieveType">
		<xs:sequence>
			<xs:element name="IdInclusieveOpvang" type="KgIdInclusieveOpvang">
				<xs:annotation>
					<xs:documentation>Identificatienummer van de erkenning inclusieve zorg. (I000000 - I999999)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Naam" type="KgNaam" nillable="true" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Naam van het kind.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Voornaam" type="KgVoornaam" nillable="true" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Voornaam van het kind.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Geboortedatum" type="KgDatum" nillable="true" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Geboortedatum van het kind. (YYYY-MM-DD)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DerdeDag" type="KgInt" nillable="true">
				<xs:annotation>
					<xs:documentation>Het aantal prestaties met een duur van maximum 2u59, enkel mogelijk voor buitenschoolse opvang.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="HalveDag" type="KgInt" nillable="true">
				<xs:annotation>
					<xs:documentation>Het aantal prestaties met een duur tot 4u59 voor baby’s en peuters en van 3u tot 4u59 voor buitenschoolse opvang.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VolleDag" type="KgInt" nillable="true">
				<xs:annotation>
					<xs:documentation>Het aantal prestaties vanaf 5u (tot maximum 24u).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DatumVan" type="KgDatum" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Start van geldigheidsperiode erkenning binnen beschouwde jaar. (YYYY-MM-DD)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DatumTot" type="KgDatum" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Eind van geldigheidsperiode erkenning binnen beschouwde jaar. (YYYY-MM-DD)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Gestopt" nillable="false">
				<xs:annotation>
					<xs:documentation>Gestopt: waarden mag enkel N of J zijn</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="1"/>
						<xs:enumeration value="N"/>
						<xs:enumeration value="J"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="KgIntRequired">
		<xs:annotation>
			<xs:documentation>Integer waarden mogen enkel bestaan uit cijfers en maximaal 8 lang zijn.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:int">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="99999999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="KgInt">
		<xs:annotation>
			<xs:documentation>Integer waarden mogen enkel bestaan uit cijfers en maximaal 8 lang zijn.</xs:documentation>
		</xs:annotation>
		<xs:union>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:length value="0"/>
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType>
				<xs:restriction base="xs:int">
					<xs:minInclusive value="0"/>
					<xs:maxInclusive value="99999999"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:union>
	</xs:simpleType>
	<xs:simpleType name="KgIntDagen">
		<xs:annotation>
			<xs:documentation>Interger waarden gebruikt voor get aantal dagen door te geven maximale waarde 366</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:int">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="366"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="KgJaar">
		<xs:annotation>
			<xs:documentation>Jaar moet zijn van de vorm YYYY en moet na 2014 liggen</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:int">
			<xs:minInclusive value="2014"/>
			<xs:maxInclusive value="9999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="KgNaam">
		<xs:annotation>
			<xs:documentation>Naam: mag maximaal 50 karakters lang zijn</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="50"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="KgVoornaam">
		<xs:annotation>
			<xs:documentation>Voornaam: mag maximaal 25 karakters lang zijn</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="25"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="KgId">
		<xs:annotation>
			<xs:documentation>Interne Id's van Kind en Gezin: bestaat enkel uit Cijfers en mogen maximaal 10 karakters lang zijn</xs:documentation>
		</xs:annotation>
		<xs:union>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:length value="0"/>
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType>
				<xs:restriction base="xs:long">
					<xs:minInclusive value="1"/>
					<xs:maxInclusive value="9999999999"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:union>
	</xs:simpleType>
	<xs:simpleType name="KgIdRequired">
		<xs:annotation>
			<xs:documentation>Interne Id's van Kind en Gezin: bestaat enkel uit Cijfers en mogen maximaal 10 karakters lang zijn</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:long">
			<xs:minInclusive value="1"/>
			<xs:maxInclusive value="9999999999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="KgDatum">
		<xs:annotation>
			<xs:documentation>Datum mag doorgegeven worden onder volgende vorm YYYY-MM-DD</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:date"/>
	</xs:simpleType>
	<xs:simpleType name="KgIdInclusieveOpvang">
		<xs:annotation>
			<xs:documentation>KgIdInclusieveOpvang</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="7"/>
			<xs:maxLength value="7"/>
			<xs:pattern value="((I)\d\d\d\d\d\d)"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="KgJaNeenType">
		<xs:annotation>
			<xs:documentation>JaNeenType: Mag enkel bestaan uit J,N </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="J"/>
			<xs:enumeration value="N"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
